:root {
  /* box-sizing: border-box;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400; */
  /* --global-lateral-padding: 15px; */
  --global-border-radius: 2%;
  --main-bg-color: #010710;
}

/* body {
margin: 0; 
display: flex;
place-items: center;
min-width: 320px;
min-height: 100vh;
} */

h1 {
  margin: 0;
}

#app {
  /* padding: 0 var(--global-lateral-padding); */
}

/* Common styles */
.hidden {
  display: none;
}

/* Spinner */
.loader {
  position: absolute;
  top: 40%;
  left: 50%;
  width: 50px;
  height: 50px;
  border: 8px solid red;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
  z-index: 9999;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
