#recoverSection {
  height: 100vh;
  min-width: 100vw;
  background-image: url(images/login-background.webp);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#recover {
  /* margin-top: -20%; */
  /* max-width: 100%; */
}

.recoverBackBtn {
  background-color: #c38500;
  color: white;
}

.recoverBackBtn:hover {
  opacity: 0.85;
  color: white;
}

.k-animation-container.k-animation-container-shown {
  position: absolute;
  top: 20%;
}

#recoverForm {
  padding: 15px;
  background-color: rgba(211, 211, 211, 0.4);
}

/* Captcha */
#captchaContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

#innerContainer {
  max-height: 100px;
  border-radius: 0.25rem;
}

/* TODO Reacer responsive para nuevos estilos */
/*
@media screen and (max-width: 576px) {
  #captchaCanvas {
    min-width: 449px;
  }

  #innerContainer {
    min-width: 449px;
  }
}

@media screen and (min-width: 576px) {
  #captchaCanvas {
    max-width: 240px;
  }

  #innerContainer {
    max-width: 240px;
  }
}

@media screen and (min-width: 768px) {
  #captchaCanvas {
    min-width: 371px;
  }
  #innerContainer {
    min-width: 371px;
  }
}

@media screen and (min-width: 992px) {
  #captchaCanvas {
    min-width: 290px;
  }

  #innerContainer {
    min-width: 290px;
  }
}

@media screen and (min-width: 1200px) {
  #captchaCanvas {
    min-width: 366px;
  }

  #innerContainer {
    min-width: 366px;
  }
}
*/
