:root {
  --link-icon-size: 32px;
}

/* Header */
.header-wrapper {
  background-color: var(--main-bg-color);
  color: white;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 65px;
}

.logo-wrapper {
  display: flex;
  align-self: center;
  width: 160px;
  height: 45px;
  cursor: pointer;
}

.logo {
  object-fit: fill;
}

.title-wrapper {
  display: flex;
  align-self: center;
}

.title {
  margin: 0;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 18px;
  line-height: 1.1;
}

/* Mneu */
.menu-wrapper {
  position: fixed;
  top: 75px;
  min-width: 300px;
  width: 450px;
  min-height: 400px;
  height: 50vh;
  background-color: var(--main-bg-color);
  border-radius: var(--global-border-radius);
  padding: 0;

  z-index: 9998;
}

.menu-navbar {
  display: flex;
  height: 100%;
}

.menu-link {
  padding: 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 10px;
}

.menu-link:hover {
  border-radius: var(--global-border-radius);
  background-color: #deb948;
}

/* Menu left */
.menu-left {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.home-icon {
  width: var(--link-icon-size);
  height: var(--link-icon-size);
  flex-shrink: 0;
  background: url(png/house.png) no-repeat;
  background-size: contain;
}

.menu-link:hover .home-icon {
  background: url(png/house-alt.png) no-repeat;
  background-size: contain;
}

.tools-icon {
  width: var(--link-icon-size);
  height: var(--link-icon-size);
  flex-shrink: 0;
  background: url(png/wrench.png) no-repeat;
  background-size: contain;
}

.menu-link:hover .tools-icon {
  background: url(png/wrench-alt.png) no-repeat;
  background-size: contain;
}

.control-panel-icon {
  width: var(--link-icon-size);
  height: var(--link-icon-size);
  flex-shrink: 0;
  background: url(png/gauge.png) no-repeat;
  background-size: contain;
}

.menu-link:hover .control-panel-icon {
  background: url(png/gauge-alt.png) no-repeat;
  background-size: contain;
}

/* Menu right */
.menu-right {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: var(--dark-blue);
  border-top-right-radius: var(--global-border-radius);
  border-bottom-right-radius: var(--global-border-radius);
}

.menu-right > a > .menu-link {
  justify-content: space-between;
}

.user-info-wrapper {
  padding: 15px 10px 10px;
  display: flex;
  gap: 5px;
  flex-direction: column;
  align-items: center;
}

.user-photo-wrapper {
  width: 85px;
  height: 85px;
  background-color: #fff;
  border: 1px solid var(--dark-blue);
  border-radius: 50%;
  overflow: hidden;
}

.user-photo {
  width: 85px;
  height: 85px;
  object-fit: fill;
}

.user-text {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.1;
  text-align: center;
}

.company-link {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  gap: 10px;
  /* padding: 10px; */
}

.company-link:hover {
  border-radius: var(--global-border-radius);
  background-color: #deb948;
}

.company-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  padding: 10px;
}

.company-icon {
  width: var(--link-icon-size);
  height: var(--link-icon-size);
  flex-shrink: 0;
  background: url(png/suitcase.png) no-repeat;
  background-size: contain;
}

.company-link:hover .company-icon {
  background: url(png/suitcase-alt.png) no-repeat;
  background-size: contain;
}

.company-dropdown-wrapper {
  width: calc(100% - 20px);
  display: flex;
  align-self: center;
  margin-top: -10px;
  padding-bottom: 10px;
}

.company-dropdown-wrapper.hidden {
  display: none;
}

.password-icon {
  width: var(--link-icon-size);
  height: var(--link-icon-size);
  flex-shrink: 0;
  background: url(png/password.png) no-repeat;
  background-size: contain;
}

.menu-link:hover .password-icon {
  background: url(png/password-alt.png) no-repeat;
  background-size: contain;
}

.logout-icon {
  width: var(--link-icon-size);
  height: var(--link-icon-size);
  flex-shrink: 0;
  background: url(png/eye-closed.png) no-repeat;
  background-size: contain;
}

.menu-link:hover .logout-icon {
  background: url(png/eye-closed-alt.png) no-repeat;
  background-size: contain;
}

/* Sidebar */
.sidebar-wrapper {
  border: 1px solid red;
}

/* Main content */
/* #contentWrapper { */

/* } */

/* Footer */
.footer-wrapper {
  position: fixed;
  bottom: 0;
  width: 100%;
}
